<header class="font-regular">
    <div class="nav">
        <input type="checkbox" id="nav-check" />
        <div class="nav-header">
            <div class="nav-title">
                <p class="font-wide text-3xl text-white" id="mobile"><a href="/">Argos</a></p>
                <p class="font-wide text-2xl text-white" id="pc"><a href="/">Argos</a></p>
            </div>
        </div>
        <label class="hamburger-menu" for="nav-check">
            <div class="bar" id="bar1"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
        </label>

        <div class="nav-links no-scrollbar">
            <table class="mx-auto text-center w-full">
                <tr class="border-t-2 border-b-2 border-white">
                <tr class="border-b-2 border-white">
                    <td><a href="/accueil" id="accueil">Accueil</a></td>
                </tr>
                <tr class="border-b-2 border-white">
                    <td><a href="/Connexion" id="connexion">Connexion/Incription</a></td>
                </tr>
                <tr class="border-b-2 border-white">
                    <td><a href="/emploidutemps" id="emploidutemps">Emploi du temps</a></td>
                </tr>
                <tr class="border-b-2 border-white">
                    <td><a href="/mentorat" id="mentorat">Mentorat</a></td>
                </tr>
                <tr class="border-b-2 border-white">
                    <td><a href="/salles" id="salles">Salles disponibles</a> </td>
                </tr>
                <tr class="border-b-2 border-white">
                    <td><a href="/ressources" id="ressources">Ressources éducatives</a> </td>
                </tr>
                <tr class="border-b-2 border-white">
                    <td><a href="/forum" id="forum">Forum </a> </td>
                </tr>
                <tr class="border-b-2 border-white">
                    <td><a href="/scores" id="scores">Scores </a> </td>
                </tr>
            </table>
        </div>
    </div>
</header>