<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/header.ejs') %>
  <%- include('partials/head.ejs') %>
  <br>
  <br>
  <br>
  <br>
  <title>DevOps</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <main class="p-4">
    <h1 class="text-2xl font-bold mb-4">DevOps</h1>
    <p>Bienvenue sur la page de DevOps.</p>
    <p>Ici, vous pouvez ajouter tout le contenu que vous souhaitez afficher concernant le DevOps.</p>
    <br>
    <%- include('partials/ressources-matiere.ejs') %>
  </main>
  <%- include("partials/footer.ejs") %>
  <script>
    function toggleContent(id) {
      const content = document.getElementById(id);
      if (content.classList.contains('hidden')) {
        content.classList.remove('hidden');
      } else {
        content.classList.add('hidden');
      }
    }
  </script>
</body>
</html>
