<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
</head>
<body>
    <%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
  <main>
  </main>
  <%- include("partials/footer.ejs") %>
</body>
</html>
